* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-image: url(../images/backgrounds/Cogumels.jpg);
    background-size: 100%;
}

/* main .cobertura::before {    
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    
    background-image: url(../images/backgrounds/Cogumels.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    mask-image: linear-gradient(to top, transparent 0%, black 20%);
    mask-repeat: no-repeat;
    mask-position: center bottom;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 25%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center bottom;
    
    z-index: 10000;
} */

main .container {
    display: flex;
    justify-content: center;

    width: 600px;
    height: 600px;

    background-image: url(../images/scenarios/pista.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main .container img {
    position: absolute;
    justify-content: center;
}

main .container .notas-chegada {
    display: flex;

    width: 345px;
    height: 60px;

    margin-top: 518px;
}

main .container .notas-chegada img {
    width: 63px;
}

main .container .notas-chegada .cinza-2 {
    margin-left: 70px;
}

main .container .notas-chegada .cinza-3 {
    margin-left: 142px;
}

main .container .notas-chegada .cinza-4 {
    margin-left: 213px;
}

main .container .notas-chegada .cinza-5 {
    margin-left: 284px;
}

main .container .fire-hit {
    position: absolute;
    display: flex;
    justify-content: center;

    height: 90px;
    width: 365px;

    top: 455px;
}

main .container .fire-hit img {
    display: none;

    width: 60px;
}

main .container .quadro {
    position: absolute;
    display: flex;
    justify-content: left;
    
    width: 500px;
    height: 90px;

    top: 400px;
}

main .container .quadro .img {
    display: block;
    
    background-image: url(../images/chart-points/pizza\ amarelo1.png);
    background-size: 90px;
    background-repeat: no-repeat;

    width: 90px;
    height: 90px;
}

main .container .area-placar {
    position: absolute;
    
    width: 500px;
    height: 90px;

    margin-top: 300px;
}

main .container .area-placar .placar {
    width: 90px;
    height: 90px;

    padding: 0 10px;

    background-color: #2b2b2b;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

main .container .area-placar .placar .score p {
    display: flex;
    justify-content: center;

    font-size: 14px;
}

main .container .area-placar .placar .score #score {
    font-size: 22px;
}

main .container .area-placar .placar .strike {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;


    background-color: #ffffff;
}

main .container .area-placar .placar .strike p {
    color: #2b2b2b;
    margin-right: 5px;
}

main .container .area-placar .placar .strike #strike {
    font-size: 34px;
    font-weight: 900;
    color: #2b2b2b;
}